<div class="row">
  <div class="col">
    <h1 id="index-page">Join a Game</h1>
    <form>
  		Game name:<br>
  		<input id="game-field" type="text" name="gamename" value="demo">
		</form> 
		<button id="sub2">join</button>
  </div>
</div>
