/* This file is for your main application css. */

@import "bootstrap";

.side { padding: 4ex; text-align: center; }
h1 { text-align: center; }

.tile-matched {width: 5ex; height: 5ex; background-color: green}

.tile-unmatched {width: 5ex; height: 5ex}
